#-------------------------GENERAL--------------------------------

OAUTH_SUCCESS_REDIRECT=http://localhost:5173/
OAUTH_FAILURE_REDIRECT=http://localhost:5173/login

#-------------------------FRONTEND-------------------------------

FRONTEND_PORT=5173
BACKEND_SERVER=http://localhost:3000/

#-------------------------BACKEND--------------------------------

BACKEND_PORT=3000
FRONTEND_SERVER=http://localhost:5173/

DB_HOST=localhost
DB_USERNAME=sweden-fullstack
DB_PASSWORD=sweden-fullstack
DB_DATABASE=sweden-fullstack

OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=

JWT_SECRET=

#-------------------------DOCKER---------------------------------

DOCKER_DB_PORT=3307
DOCKER_BACKEND_PORT=
DOCKER_FRONTEND_PORT=
DOCKER_DB_USER=
