#-------------------------GENERAL--------------------------------

#-------------------------FRONTEND-------------------------------

FRONTEND_PORT=5173
BACKEND_SERVER=localhost:3000/

#-------------------------BACKEND--------------------------------

BACKEND_PORT=3000
DB_HOST=localhost
DB_USERNAME=sweden-fullstack
DB_PASSWORD=sweden-fullstack
DB_DATABASE=sweden-fullstack
